---
layout: markdown_page
title: GitLab releases
---

For a list of release posts including patch releases, please check the blog category [release](/blog/categories/release/).

<%= list %>

---

Please check out the changelog to see all the named changes:
- [GitLab Community Edition](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md)
- [GitLab Enterprise Edition](https://gitlab.com/gitlab-org/gitlab-ee/blob/master/CHANGELOG.md)
- [GitLab Runner](https://gitlab.com/gitlab-org/gitlab-runner/blob/master/CHANGELOG.md)

Changes prior to GitLab 8.0 can be seen [here](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/changelogs/archive.md)
