- if current_page.data.cover_image != nil
  - cover_image = current_page.data.cover_image
- elsif yield_content(:cover_image) != nil
  - cover_image = yield_content(:cover_image)
- else
  - cover_image = '/images/default-blog-image.png'

.cover{ style: "background-image: url(#{cover_image});" }
  .overlay
    .header.container
      %h1= current_page.data.cover_title ? current_page.data.cover_title : yield_content(:cover_title)
